#topNav {
  background: dimgray;
  box-shadow: 0px 1px 10px 10px lightgray;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
  height: auto;
  text-align: center;
  width: 100%;
}
#topNav li {
  display: inline;
}
#topNav a {
  color: white;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;  /*  top/bottom | left/right  */
  text-decoration: none;
  transition: color 0.3s ease-in;  /*  property | time | method  */
}
#topNav a:hover {
  color: lime;
}
body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
p {
  color: Navy;
  font-family: Mona Sans(cursive);
  text-align: center;
}

body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
<h1 style="color:Black;">A Blue Heading</h1>

<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1   {color: Black;}
p    {color: Navy;}
</style>
</head>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>
<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color: Black;
  font-family: Hubot Sans(cursive);
  font-size: 300%;
}
p {
  color: Navy;
  font-size: 160%;
}
</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

</body>
</html>
